
.botonCamara .button-large-md {

    height: 132px;
    width: 100%;
    font-size: 2rem;
    animation-duration: 500ms;
    animation-name: slidein;
    @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
     
        to {
          margin-left: 0%;
          width: 100%;
        }
      }

}
.fondoHome{
    background: #334d50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cbcaa5, #334d50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cbcaa5, #334d50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
page-home {



    .btnLindas{
        //box-shadow: 1px 1px 18px 2px rgb(63, 63, 63);
        background-color: #56ab2f;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    .btnLindas:hover{
        background-color: rgb(2, 71, 30);
    }
    .btnLindas:hover:not(.disable-hover) {
        background-color: rgb(2, 71, 30);
    }
    .btnLindas:active {
        background-color: rgb(2, 71, 30);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    .btnFeas{
        background-color: #F2994A;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }
    .btnFeas:hover{
        background-color: rgb(150, 49, 42);
    }
    .btnFeas:hover:not(.disable-hover) {
        background-color: rgb(150, 49, 42);
    }
    .btnFeas:active {
        background-color: rgb(150, 49, 42);
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }


}
